@charset "UTF-8"

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin:0px;
}
a:visited{
    color: rgb(12, 12, 104);
}
h1{
    text-align: center;
}
h2{
    box-shadow: 1px 1px 1px black;
}
.sub{
    box-shadow: 1px 1px 1px black;
}
.sub::before{
    content: '<';
}
.sub::after{
    content: '>';
}
nav{
    background-color: rgb(189, 183, 183);
    padding: 5px;
    box-shadow: 2px 1px 1px rgb(22, 22, 22);
    border-radius: 5px;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px; 
}
nav > a:hover{
    text-decoration: underline;
    color: black;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: justify;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    margin:0px;
    text-align: center;
    box-shadow:  2px 1px black;
    border-radius: 10px;
}