/*Animation*
Primeiro sempre crie o keyframes onde é a animação

*/
@keyframes animação-circle{
    from{
       background: lightblue;
       border: 1px solid rgb(1, 78, 78);
       border-radius: 0;
       left:0px;
       top: 0px;
    }
    to{
        background: darkblue;
        border:20px solid rgb(5, 209, 209);
        border-radius: 200px;
        left:500px;
        top:100px;
        right:500px;
    }
}
#caixa{
    height: 200px;
    width: 200px;
    position: relative;
    background-color: darkblue;
    /*animation-name: animação-circle;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   /* animation: name, duration, delay, iteration-count, direction;*/
    animation: animação-circle 4s 2s infinite alternate;
}